<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="KeptContactInfoInputSet">
    <Require
      name="contact"
      type="ABContact"/>
    <TextInput
      boldValue="true"
      id="KeptContactLabel"
      value="DisplayKey.get(&quot;Web.Contacts.ReviewDuplicateContacts.KeptContactUpdate&quot;, contact.UpdateTime.formatDate(gw.i18n.DateTimeFormat.SHORT))"/>
  </InputSet>
</PCF>