<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="true"
    id="VendorServiceExportImport"
    startInEditMode="true"
    title="DisplayKey.get(&quot;Web.VendorServicesExportImport.Title&quot;)">
    <Screen>
      <Variable
        initialValue="&quot;&quot;"
        name="result"
        type="String"/>
      <Verbatim
        label="DisplayKey.get(&quot;Web.VendorServicesExportImport.AddVendorServices&quot;)"/>
      <DetailViewPanel>
        <Variable
          initialValue="&quot;&quot;"
          name="MappingFileName"
          type="String"/>
        <Variable
          initialValue="&quot;&quot;"
          name="ImportFileName"
          type="String"/>
        <Variable
          initialValue="false"
          name="MapSubdirectories"
          type="boolean"/>
        <Variable
          initialValue="false"
          name="ImportSubdirectories"
          type="boolean"/>
        <InputColumn>
          <PreFormattedTextInput
            id="Spacer1"
            value="&quot;&quot;"/>
          <Label
            label="DisplayKey.get(&quot;Web.VendorServicesExportImport.ExportVendorsTitle&quot;)"/>
          <PreFormattedTextInput
            id="Spacer4"
            value="&quot;&quot;"/>
          <ButtonInput
            action="result = gw.exportimport.ExportImportVendorServicesUtil.exportVendors()"
            id="VendorServiceExport"
            labelAbove="true"
            value="DisplayKey.get(&quot;Web.VendorServicesExportImport.ExportVendors&quot;)"/>
        </InputColumn>
        <InputColumn>
          <PreFormattedTextInput
            id="Spacer2"
            value="&quot;&quot;"/>
          <Label
            label="DisplayKey.get(&quot;Web.VendorServicesExportImport.MapServicesTitle&quot;)"/>
          <TextInput
            editable="true"
            id="VendorServiceMappingInput"
            label="DisplayKey.get(&quot;Web.VendorServicesExportImport.MapFileLabel&quot;)"
            labelAbove="true"
            numCols="50"
            value="MappingFileName"/>
          <CheckBoxInput
            editable="true"
            id="MapSubdirectoriesCheckbox"
            label="DisplayKey.get(&quot;Web.VendorServicesExportImport.IncludeSubdirectories&quot;)"
            value="MapSubdirectories"/>
          <ButtonInput
            action="result = gw.exportimport.ExportImportVendorServicesUtil.mapServices(MappingFileName, MapSubdirectories)"
            id="VendorServiceMapping"
            labelAbove="true"
            value="DisplayKey.get(&quot;Web.VendorServicesExportImport.MapServices&quot;)"/>
        </InputColumn>
        <InputColumn>
          <PreFormattedTextInput
            id="Spacer3"
            value="&quot;&quot;"/>
          <Label
            label="DisplayKey.get(&quot;Web.VendorServicesExportImport.ImportVendorsTitle&quot;)"/>
          <TextInput
            editable="true"
            id="VendorServiceImportInput"
            label="DisplayKey.get(&quot;Web.VendorServicesExportImport.ImportFileLabel&quot;)"
            labelAbove="true"
            numCols="50"
            value="ImportFileName"/>
          <CheckBoxInput
            editable="true"
            id="ImportSubdirectoriesCheckbox"
            label="DisplayKey.get(&quot;Web.VendorServicesExportImport.IncludeSubdirectories&quot;)"
            value="ImportSubdirectories"/>
          <ButtonInput
            action="result = gw.exportimport.ExportImportVendorServicesUtil.importVendors(ImportFileName, ImportSubdirectories)"
            id="VendorServiceImport"
            labelAbove="true"
            value="DisplayKey.get(&quot;Web.VendorServicesExportImport.ImportVendors&quot;)"
            visible="perm.System.abedit"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelDivider/>
      <ListViewPanel>
        <Row>
          <TextCell
            id="RowTitle"
            value="DisplayKey.get(&quot;Web.VendorServicesExportImport.ProcessLog&quot;)"/>
          <TextAreaCell
            id="ProcessLog"
            value="result"
            width="1000"
            wrap="true"/>
        </Row>
      </ListViewPanel>
    </Screen>
  </Page>
</PCF>